.git
.github
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

venv
.venv
data
results
logs
plots
.run_1k_state
.tmp_selection
results_archive_*
.DS_Store
tests

third_party/ck/target
third_party/cm/target
